In [2]:
#IMPORTS
import pandas as pd
import numpy as np

/var/folders/yb/xxzl2bpx6dz1pnj0fyvfhndc0000gn/T/ipykernel_90945/158968448.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dump = pd.read_csv('data/ICPSR_04351/DS0002/04351-0002-Data.csv')

In [16]:
dump

,STCODE,STNUMBER,ORI,POPGROUP,DIVISION,MONTH,YEAR,POP,COUNTY,SMSA,...,OFFAGE,OFFSEX,OFFRACE,WEAPON,RELATION,CIRCUM,SUBCIRC,WTUS,WTST,WTIMPUS
0,AK,50,AKASP00,81,9,1,1976,162340,NaN,NaN,...,55,2,3,20,1,45,NaN,1.1310,1.0,NaN
1,AK,50,AKASP00,81,9,2,1976,162340,NaN,NaN,...,15,1,1,14,12,99,NaN,1.1310,1.0,NaN
2,AK,50,AKASP00,81,9,3,1976,162340,NaN,NaN,...,54,1,1,13,29,45,NaN,1.1310,1.0,NaN
3,AK,50,AKASP00,81,9,3,1976,162340,NaN,NaN,...,45,1,9,20,7,60,NaN,1.1310,1.0,NaN
4,AK,50,AKASP00,81,9,3,1976,162340,NaN,NaN,...,20,2,1,99,7,60,NaN,1.1310,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534037,WY,49,WY01301,30,8,8,2003,50279,13.0,131.0,...,24,1,1,40,7,60,NaN,1.1387,1.0,NaN
534038,WY,49,WY01301,30,8,9,2003,50279,13.0,131.0,...,26,1,1,30,2,45,NaN,1.1387,1.0,NaN
534039,WY,49,WY01304,70,8,7,2003,2309,13.0,131.0,...,30,1,1,40,22,60,NaN,1.1387,1.0,NaN
534040,WY,49,WY01900,84,8,1,2003,7138,19.0,NaN,...,23,1,1,13,11,42,NaN,1.1387,1.0,NaN
534041,WY,49,WY01902,50,8,7,2003,18558,19.0,NaN,...,29,1,1,85,31,60,NaN,1.1387,1.0,NaN